<footer>
        <div class="row">
                <div class="col-xs-6 col-sm-4" style="text-align: right;">
                        <p>&copy; 2018 TaleTime</p>
                </div>
                <div class="col-xs-6 col-sm-4" style="text-align: center;">
                        <a href="http://www.htwsaar.de">
                                <img src="/htw_ingwi.png">
                        </a>
                </div>
                <div class="col-xs-6 col-sm-4" style="text-align: left;">
                        <p>
                                <a href="#">Back to top</a>
                        </p>
                </div>
        </div>
</footer>