<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="https://taletime.github.io/">
    <img src="/icon-small.png" width="29" height="29" class="d-inline-block align-top" alt="">
    TaleTime
  </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#try-the-app">Try the App!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#write-a-story">Write a Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contributing">Contributing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">Contact</a>
      </li>
    </ul>
  </div>
</nav>