<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/icon-small.png" width="29" height="29" class="d-inline-block align-top" alt="">
    TaleTime
  </a>  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#try-the-app">Try the App!</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#write-a-story">Write a Story</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contributing">Contributing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about-us">About us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#footer">Contact</a>
      </li>
    </ul>
  </div>
</nav> -->
<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="tab-home" data-toggle="tab" href="#home" role="tab" aria-controls="nav-home" aria-selected="true">Home</a>
    <a class="nav-item nav-link" id="tab-try-the-app" data-toggle="tab" href="#tryTheApp" role="tab" aria-controls="nav-profile" aria-selected="false">Try the App!</a>
    <a class="nav-item nav-link" id="tab-write-a-story" data-toggle="tab" href="#writeAStory" role="tab" aria-controls="nav-contact" aria-selected="false">Write a Story</a>
    <a class="nav-item nav-link" id="tab-contributing" data-toggle="tab" href="#contributing" role="tab" aria-controls="nav-contact" aria-selected="false">Contributing</a>
    <a class="nav-item nav-link" id="tab-about-us" data-toggle="tab" href="#aboutUs" role="tab" aria-controls="nav-contact" aria-selected="false">About Us</a>
    <a class="nav-item nav-link" id="tab-contact" data-toggle="tab" href="#contact" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</a>
  </div>
</nav>
<div class="tab-content" id="nav-tabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="tab-home">{{ home-content }}</div>
  <div class="tab-pane fade" id="tryTheApp" role="tabpanel" aria-labelledby="tab-try-the-app">{{ home-content }}</div>
  <div class="tab-pane fade" id="writeAStory" role="tabpanel" aria-labelledby="tab-write-a-story">{{ home-content }}</div>
  <div class="tab-pane fade" id="contributing" role="tabpanel" aria-labelledby="tab-contributing">{{ home-content }}</div>
  <div class="tab-pane fade" id="aboutUs" role="tabpanel" aria-labelledby="tab-about-us">{{ home-content }}</div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="tab-contact">{{ home-content }}</div>
</div>